tutorials/cda/building-a-server-log-analysis-application/application/development/nifi-template/AcquireNASAServerLogs.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>1dbbfced-0166-1000-a161-6661ca3e6a63</groupId>
    <name>AcquireNASAServerLogs</name>
    <snippet>
        <processGroups>
            <id>324984e0-de75-3823-0000-000000000000</id>
            <parentGroupId>690bfceb-9c94-3a24-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>21bb25ee-786d-3101-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>c82483fb-ab71-379f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>6b9d04af-216a-3364-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>282c9846-fb10-3c88-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>b379aab1-e771-3cc1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>221b318f-68dc-3aae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2f7d1d79-efc2-31e6-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>c3068c9f-3246-35b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>a293b5cd-33fe-312e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3e79c9ba-28c4-346a-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>d7f0038b-6d5d-3564-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>c82483fb-ab71-379f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>40b728bd-ce4c-3ccd-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>221b318f-68dc-3aae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>81d089d2-f497-387d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6c223470-b9f0-3fa7-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>6b9d04af-216a-3364-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>8574d29f-9f91-3ad1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f2cf2dd-f07d-37d5-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>81d089d2-f497-387d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>7f593290-83bf-361e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7c6132ba-199f-393e-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>8574d29f-9f91-3ad1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>65e31d28-2b80-3dc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>81177b2e-646b-3c94-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>8addb1d8-db99-3025-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>d7f0038b-6d5d-3564-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9ff5463d-c114-3af7-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>8a7626bb-521d-32f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>b4adddfc-fc37-3ef5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a1dc4ddd-4ee9-39fb-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>2c12133a-7595-33f5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>b379aab1-e771-3cc1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a2fc71a5-5030-3fef-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>65e31d28-2b80-3dc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>c3068c9f-3246-35b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ba5b092c-9435-3268-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>7f593290-83bf-361e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>found</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>8a7626bb-521d-32f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f34f324f-71a2-32af-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>b4adddfc-fc37-3ef5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>324984e0-de75-3823-0000-000000000000</groupId>
                        <id>8addb1d8-db99-3025-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>221b318f-68dc-3aae-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>-608.0</x>
                        <y>144.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>20</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>40</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>2c12133a-7595-33f5-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>-619.0</x>
                        <y>559.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/sandbox/tutorial-files/200/nifi/output/NASALogsAug1995</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>65e31d28-2b80-3dc7-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>865.0</x>
                        <y>193.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>60 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split10000LinesOfText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>6b9d04af-216a-3364-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>867.0</x>
                        <y>378.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>EVENT_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split100LinesOfText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>7f593290-83bf-361e-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>-179.0</x>
                        <y>162.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Check_city</key>
<value>
    <name>Check_city</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>Check_city</key>
<value>${IP.geo.city:isEmpty():not()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>81d089d2-f497-387d-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>-121.0</x>
                        <y>-40.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>${IP}|${Time}|${Request_Type}|${Response_Code}|${IP.geo.city}|${IP.geo.country}|${IP.geo.country.isocode}|${IP.geo.latitude}|${IP.geo.longitude}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>8574d29f-9f91-3ad1-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>281.0</x>
                        <y>194.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split1000LinesOfText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>8a7626bb-521d-32f1-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>-193.0</x>
                        <y>366.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-enrich-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Geo Database File</key>
<value>
    <name>Geo Database File</name>
</value>
                            </entry>
                            <entry>
<key>IP Address Attribute</key>
<value>
    <name>IP Address Attribute</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Geo Database File</key>
<value>/sandbox/tutorial-files/200/nifi/input/GeoFile/GeoLite2-City_20180925/GeoLite2-City.mmdb</value>
                            </entry>
                            <entry>
<key>IP Address Attribute</key>
<value>IP</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GeoEnrichIP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not found</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.GeoEnrichIP</type>
                </processors>
                <processors>
                    <id>8addb1d8-db99-3025-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>302.0</x>
                        <y>558.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>IP</key>
<value>
    <name>IP</name>
</value>
                            </entry>
                            <entry>
<key>Request_Type</key>
<value>
    <name>Request_Type</name>
</value>
                            </entry>
                            <entry>
<key>Response_Code</key>
<value>
    <name>Response_Code</name>
</value>
                            </entry>
                            <entry>
<key>Time</key>
<value>
    <name>Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>1024</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>true</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>IP</key>
<value>(\b(?:\d{1,3}\.){3}\d{1,3}\b)</value>
                            </entry>
                            <entry>
<key>Request_Type</key>
<value>\"(.*?)\"</value>
                            </entry>
                            <entry>
<key>Response_Code</key>
<value>HTTP\/\d\.\d" (\d{3})</value>
                            </entry>
                            <entry>
<key>Time</key>
<value>\[(.*?)\]</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>a293b5cd-33fe-312e-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>862.0</x>
                        <y>-21.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/sandbox/tutorial-files/200/nifi/input/NASALogs</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>60 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GrabNASALogs</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>b379aab1-e771-3cc1-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>-581.0</x>
                        <y>344.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>logsample-${now():format("HHmmssSSS")}-${UUID()}-.txt</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>b4adddfc-fc37-3ef5-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>-259.0</x>
                        <y>558.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Check_requestType</key>
<value>
    <name>Check_requestType</name>
</value>
                            </entry>
                            <entry>
<key>Check_time</key>
<value>
    <name>Check_time</name>
</value>
                            </entry>
                            <entry>
<key>Check_to_remove_hostname</key>
<value>
    <name>Check_to_remove_hostname</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>Check_requestType</key>
<value>${Request_Type:isEmpty():not()}</value>
                            </entry>
                            <entry>
<key>Check_time</key>
<value>${Time:isEmpty():not()}</value>
                            </entry>
                            <entry>
<key>Check_to_remove_hostname</key>
<value>${IP:startsWith('1'):or(${IP:startsWith('2')})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>c3068c9f-3246-35b9-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>281.0</x>
                        <y>-20.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>100000</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>60 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split100000LinesOfText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>c82483fb-ab71-379f-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>284.0</x>
                        <y>381.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>EVENT_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split10LinesOfText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>d7f0038b-6d5d-3564-0000-000000000000</id>
                    <parentGroupId>324984e0-de75-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>866.0</x>
                        <y>558.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>EVENT_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split1LinesOfText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
            </contents>
            <name>AcquireNASAServerLogs</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/28/2018 09:01:40 UTC</timestamp>
</template>
