tutorials/cda/building-a-sentiment-analysis-application/application/development/nifi-template/AcquireTweetsStreamTweets.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>15948cf0-0166-1000-f3eb-8baf0c9ac018</groupId>
    <name>AcquireTweetsStreamTweets</name>
    <snippet>
        <processGroups>
            <id>6980487d-1f24-382b-0000-000000000000</id>
            <parentGroupId>2128b774-71f2-3c39-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>2.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>4a7167c0-11cd-3825-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>660e18e7-72d8-3591-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>8621ae5f-11e0-3dce-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b5800059-700a-3e6b-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>8621ae5f-11e0-3dce-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>9bdabf1c-119f-3941-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f9147a46-ab83-374b-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>c0efadc8-6f04-3602-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>e217b220-41a3-37da-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ff00b988-cb0d-3c63-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>9bdabf1c-119f-3941-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6980487d-1f24-382b-0000-000000000000</groupId>
                        <id>c0efadc8-6f04-3602-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>5cfe5d2a-179c-36ab-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-hbase_1_1_2-client-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Hadoop Configuration Files</key>
                            <value>
<name>Hadoop Configuration Files</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Kerberos Principal</key>
                            <value>
<name>Kerberos Principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Kerberos Keytab</key>
                            <value>
<name>Kerberos Keytab</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ZooKeeper Quorum</key>
                            <value>
<name>ZooKeeper Quorum</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ZooKeeper Client Port</key>
                            <value>
<name>ZooKeeper Client Port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ZooKeeper ZNode Parent</key>
                            <value>
<name>ZooKeeper ZNode Parent</name>
                            </value>
                        </entry>
                        <entry>
                            <key>HBase Client Retries</key>
                            <value>
<name>HBase Client Retries</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Phoenix Client JAR Location</key>
                            <value>
<name>Phoenix Client JAR Location</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HBase_1_1_2_ClientService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Hadoop Configuration Files</key>
                            <value>/etc/hbase/conf/hbase-site.xml,/etc/hadoop/conf/core-site.xml</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>Kerberos Principal</key>
                        </entry>
                        <entry>
                            <key>Kerberos Keytab</key>
                        </entry>
                        <entry>
                            <key>ZooKeeper Quorum</key>
                        </entry>
                        <entry>
                            <key>ZooKeeper Client Port</key>
                        </entry>
                        <entry>
                            <key>ZooKeeper ZNode Parent</key>
                        </entry>
                        <entry>
                            <key>HBase Client Retries</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>Phoenix Client JAR Location</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
                </controllerServices>
                <processors>
                    <id>660e18e7-72d8-3591-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <position>
                        <x>511.5895690917969</x>
                        <y>-65.48909282684326</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hbase-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HBase Client Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
    <name>HBase Client Service</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Row Identifier</key>
<value>
    <name>Row Identifier</name>
</value>
                            </entry>
                            <entry>
<key>Row Identifier Field Name</key>
<value>
    <name>Row Identifier Field Name</name>
</value>
                            </entry>
                            <entry>
<key>Row Identifier Encoding Strategy</key>
<value>
    <name>Row Identifier Encoding Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Column Family</key>
<value>
    <name>Column Family</name>
</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>
    <name>timestamp</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Complex Field Strategy</key>
<value>
    <name>Complex Field Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Field Encoding Strategy</key>
<value>
    <name>Field Encoding Strategy</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HBase Client Service</key>
<value>5cfe5d2a-179c-36ab-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>tweets_sentiment</value>
                            </entry>
                            <entry>
<key>Row Identifier</key>
                            </entry>
                            <entry>
<key>Row Identifier Field Name</key>
<value>twitter.unixtime</value>
                            </entry>
                            <entry>
<key>Row Identifier Encoding Strategy</key>
<value>String</value>
                            </entry>
                            <entry>
<key>Column Family</key>
<value>social_media_sentiment</value>
                            </entry>
                            <entry>
<key>timestamp</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>25</value>
                            </entry>
                            <entry>
<key>Complex Field Strategy</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Field Encoding Strategy</key>
<value>String</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHBaseJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.hbase.PutHBaseJSON</type>
                </processors>
                <processors>
                    <id>8621ae5f-11e0-3dce-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <position>
                        <x>68.00323486328125</x>
                        <y>165.93474578857422</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>routeIfSentimentAndTimeNonEmpty</key>
<value>
    <name>routeIfSentimentAndTimeNonEmpty</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>routeIfSentimentAndTimeNonEmpty</key>
<value>${twitter.unixtime:isEmpty():not():and(${twitter.sentiment:isEmpty():not()})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>IfTweetsHaveSentimentAndTime</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>9bdabf1c-119f-3941-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <position>
                        <x>66.35594940185547</x>
                        <y>-66.72189699113369</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>twitter.handle, twitter.language, twitter.location, twitter.tweet_id, twitter.unixtime, twitter.sentiment</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>c0efadc8-6f04-3602-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-400.0358657836914</x>
                        <y>159.36569213867188</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>twitter.coordinates</key>
<value>
    <name>twitter.coordinates</name>
</value>
                            </entry>
                            <entry>
<key>twitter.geo</key>
<value>
    <name>twitter.geo</name>
</value>
                            </entry>
                            <entry>
<key>twitter.handle</key>
<value>
    <name>twitter.handle</name>
</value>
                            </entry>
                            <entry>
<key>twitter.hashtags</key>
<value>
    <name>twitter.hashtags</name>
</value>
                            </entry>
                            <entry>
<key>twitter.language</key>
<value>
    <name>twitter.language</name>
</value>
                            </entry>
                            <entry>
<key>twitter.location</key>
<value>
    <name>twitter.location</name>
</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>
    <name>twitter.msg</name>
</value>
                            </entry>
                            <entry>
<key>twitter.place</key>
<value>
    <name>twitter.place</name>
</value>
                            </entry>
                            <entry>
<key>twitter.sentiment</key>
<value>
    <name>twitter.sentiment</name>
</value>
                            </entry>
                            <entry>
<key>twitter.time</key>
<value>
    <name>twitter.time</name>
</value>
                            </entry>
                            <entry>
<key>twitter.tweet_id</key>
<value>
    <name>twitter.tweet_id</name>
</value>
                            </entry>
                            <entry>
<key>twitter.unixtime</key>
<value>
    <name>twitter.unixtime</name>
</value>
                            </entry>
                            <entry>
<key>twitter.user</key>
<value>
    <name>twitter.user</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>twitter.coordinates</key>
<value>$.coordinates</value>
                            </entry>
                            <entry>
<key>twitter.geo</key>
<value>$.geo</value>
                            </entry>
                            <entry>
<key>twitter.handle</key>
<value>$.user.screen_name</value>
                            </entry>
                            <entry>
<key>twitter.hashtags</key>
<value>$.entities.hashtags[0].text</value>
                            </entry>
                            <entry>
<key>twitter.language</key>
<value>$.lang</value>
                            </entry>
                            <entry>
<key>twitter.location</key>
<value>$.user.location</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>$.text</value>
                            </entry>
                            <entry>
<key>twitter.place</key>
<value>$.place</value>
                            </entry>
                            <entry>
<key>twitter.sentiment</key>
<value>$.sentiment</value>
                            </entry>
                            <entry>
<key>twitter.time</key>
<value>$.created_at</value>
                            </entry>
                            <entry>
<key>twitter.tweet_id</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>twitter.unixtime</key>
<value>$.timestamp_ms</value>
                            </entry>
                            <entry>
<key>twitter.user</key>
<value>$.user.name</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PullKeyAttributes</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>e217b220-41a3-37da-0000-000000000000</id>
                    <parentGroupId>6980487d-1f24-382b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-400.77696228027344</x>
                        <y>-67.36248779296875</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-0-10-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>sandbox-hdf.hortonworks.com:6667</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>tweetsSentiment</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>1</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_0_10</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_0_10</type>
                </processors>
            </contents>
            <name>StreamTweetsToHBase</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>d95a65a1-46bd-3249-0000-000000000000</id>
            <parentGroupId>2128b774-71f2-3c39-0000-000000000000</parentGroupId>
            <position>
                <x>488.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>051ded0d-017b-35b1-0000-000000000000</id>
                    <parentGroupId>d95a65a1-46bd-3249-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d95a65a1-46bd-3249-0000-000000000000</groupId>
                        <id>988f71b9-eca8-3f97-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d95a65a1-46bd-3249-0000-000000000000</groupId>
                        <id>f198eac2-2fbc-354f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7b9e2f52-640b-317a-0000-000000000000</id>
                    <parentGroupId>d95a65a1-46bd-3249-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d95a65a1-46bd-3249-0000-000000000000</groupId>
                        <id>9e68ef31-2247-36f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>d95a65a1-46bd-3249-0000-000000000000</groupId>
                        <id>988f71b9-eca8-3f97-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ea487597-2284-3490-0000-000000000000</id>
                    <parentGroupId>d95a65a1-46bd-3249-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d95a65a1-46bd-3249-0000-000000000000</groupId>
                        <id>6e874c55-7167-35de-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>filterTweetAndLocation</selectedRelationships>
                    <source>
                        <groupId>d95a65a1-46bd-3249-0000-000000000000</groupId>
                        <id>9e68ef31-2247-36f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>6e874c55-7167-35de-0000-000000000000</id>
                    <parentGroupId>d95a65a1-46bd-3249-0000-000000000000</parentGroupId>
                    <position>
                        <x>302.0</x>
                        <y>584.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-0-10-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>sandbox-hdp.hortonworks.com:6667</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>tweets</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_0_10</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
                </processors>
                <processors>
                    <id>988f71b9-eca8-3f97-0000-000000000000</id>
                    <parentGroupId>d95a65a1-46bd-3249-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>176.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>twitter.coordinates</key>
<value>
    <name>twitter.coordinates</name>
</value>
                            </entry>
                            <entry>
<key>twitter.geo</key>
<value>
    <name>twitter.geo</name>
</value>
                            </entry>
                            <entry>
<key>twitter.handle</key>
<value>
    <name>twitter.handle</name>
</value>
                            </entry>
                            <entry>
<key>twitter.hashtags</key>
<value>
    <name>twitter.hashtags</name>
</value>
                            </entry>
                            <entry>
<key>twitter.language</key>
<value>
    <name>twitter.language</name>
</value>
                            </entry>
                            <entry>
<key>twitter.location</key>
<value>
    <name>twitter.location</name>
</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>
    <name>twitter.msg</name>
</value>
                            </entry>
                            <entry>
<key>twitter.place</key>
<value>
    <name>twitter.place</name>
</value>
                            </entry>
                            <entry>
<key>twitter.time</key>
<value>
    <name>twitter.time</name>
</value>
                            </entry>
                            <entry>
<key>twitter.tweet_id</key>
<value>
    <name>twitter.tweet_id</name>
</value>
                            </entry>
                            <entry>
<key>twitter.unixtime</key>
<value>
    <name>twitter.unixtime</name>
</value>
                            </entry>
                            <entry>
<key>twitter.user</key>
<value>
    <name>twitter.user</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>twitter.coordinates</key>
<value>$.coordinates</value>
                            </entry>
                            <entry>
<key>twitter.geo</key>
<value>$.geo</value>
                            </entry>
                            <entry>
<key>twitter.handle</key>
<value>$.user.screen_name</value>
                            </entry>
                            <entry>
<key>twitter.hashtags</key>
<value>$.entities.hashtags[0].text</value>
                            </entry>
                            <entry>
<key>twitter.language</key>
<value>$.lang</value>
                            </entry>
                            <entry>
<key>twitter.location</key>
<value>$.user.location</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>$.text</value>
                            </entry>
                            <entry>
<key>twitter.place</key>
<value>$.place</value>
                            </entry>
                            <entry>
<key>twitter.time</key>
<value>$.created_at</value>
                            </entry>
                            <entry>
<key>twitter.tweet_id</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>twitter.unixtime</key>
<value>$.timestamp_ms</value>
                            </entry>
                            <entry>
<key>twitter.user</key>
<value>$.user.name</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PullKeyAttributes</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>9e68ef31-2247-36f8-0000-000000000000</id>
                    <parentGroupId>d95a65a1-46bd-3249-0000-000000000000</parentGroupId>
                    <position>
                        <x>305.0</x>
                        <y>382.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>filterTweetAndLocation</key>
<value>
    <name>filterTweetAndLocation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>filterTweetAndLocation</key>
<value>${twitter.msg:isEmpty():not():and(${twitter.location:isEmpty():not()})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FindOnlyTweets</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>filterTweetAndLocation</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>f198eac2-2fbc-354f-0000-000000000000</id>
                    <parentGroupId>d95a65a1-46bd-3249-0000-000000000000</parentGroupId>
                    <position>
                        <x>297.0</x>
                        <y>-26.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-social-media-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Twitter Endpoint</key>
<value>
    <name>Twitter Endpoint</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>
    <name>Consumer Key</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
<value>
    <name>Consumer Secret</name>
</value>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>
    <name>Access Token</name>
</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
<value>
    <name>Access Token Secret</name>
</value>
                            </entry>
                            <entry>
<key>Languages</key>
<value>
    <name>Languages</name>
</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>
    <name>Terms to Filter On</name>
</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
<value>
    <name>IDs to Follow</name>
</value>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
<value>
    <name>Locations to Filter On</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Twitter Endpoint</key>
<value>Sample Endpoint</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>3FVfGiseURSr9ZbnfnVh4GNuR</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>3939922273-DCH7gWvvuU5fZ52LGWO3mFCAsKv7fdFiaMQ60lg</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
                            </entry>
                            <entry>
<key>Languages</key>
<value>en</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>AAPL,ORCL,GOOG,MSFT,DELL</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GrabGardenHose</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.twitter.GetTwitter</type>
                </processors>
            </contents>
            <name>AcquireTwitterData</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/27/2018 03:08:43 UTC</timestamp>
</template>
